.app {
  width: 100%;
  height: 100%;
}

.activityWrapper {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.activity {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.columnCenter {
  justify-content: center;
}